---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import CounselorCard from "../../components/CounselorCard.astro";
import type { Counselor } from "../../types/counselor";
import { getCollection } from "astro:content";
import CounselorSearch from "../../components/CounselorSearch";

const counselors = await getCollection("counselors");
---

<Layout title="加盟相談所一覧 - 結婚相談所連盟">
	<Header slot="header" />
	<div class="bg-white py-24 sm:py-32">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="mx-auto max-w-2xl text-center">
				<h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">加盟相談所一覧</h1>
				<p class="mt-2 text-lg leading-8 text-gray-600">
					全国の信頼できる結婚相談所を一覧でご紹介します
				</p>
			</div>
			<div>
				<CounselorSearch client:load />
			</div>
			<div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
				{counselors.map((counselor) => (
					<CounselorCard {...counselor.data} />
				))}
			</div>
		</div>
	</div>
	<Footer slot="footer" />
</Layout> 